* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  height: 2.5rem;
  background-color: #191919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 12%;
}

@media screen and (max-width: 1550px) {
  .header {
    padding: 0 11%;
  }
}

@media screen and (max-width: 1340px) {
  .header {
    padding: 0 9%;
  }
}

.header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 990px) {
  .header-contact {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header-contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header-contact__info span {
  color: #ffffff99;
  font-size: 1rem;
  margin-left: 0.3rem;
}

.header-contact__info .fa-envelope, .header-contact__info .fa-mobile {
  font-size: 1rem;
  color: #CC1616;
}

.header-contact__info:first-child span:hover {
  color: white;
}

.header-contact__info:not(:first-child) {
  margin-left: 1rem;
}

.header-social .fa {
  font-size: 1rem;
  color: #ffffff99;
}

.header-social .fa:not(:first-child) {
  margin-left: 1rem;
}

.header-social .fa:hover {
  color: white;
}

@media screen and (max-width: 990px) {
  .header-social {
    display: none;
  }
}

.navbar {
  height: 4rem;
  background-color: #444444;
  color: white;
  padding: 0 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1550px) {
  .navbar {
    padding: 0 11%;
  }
}

@media screen and (max-width: 1340px) {
  .navbar {
    padding: 0 9%;
  }
}

.navbar h1 {
  font-size: 1.8rem;
}

.navbar-toggler {
  display: none;
  background-color: transparent;
  outline: none;
  border: none;
}

.navbar-toggler span {
  height: 0.1rem;
  width: 1.25rem;
  background-color: white;
}

.navbar-toggler span:not(:first-child) {
  margin-top: 0.2rem;
}

@media screen and (max-width: 990px) {
  .navbar-toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.navbar-items {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
}

@media screen and (max-width: 990px) {
  .navbar-items {
    display: none;
  }
}

.navbar-item {
  height: 4rem;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 0.9rem;
}

.navbar-item a {
  text-decoration: none;
  color: white;
}

.navbar-item:not(:first-child) {
  margin-left: 0.1rem;
}

.navbar-item:hover {
  background-color: #CC1616;
}

.navbar-item:nth-child(5) {
  position: relative;
}

.navbar-item:nth-child(5) .fa {
  margin-left: 0.3rem;
  font-size: 0.8rem;
  font-weight: 100;
}

.navbar-item:nth-child(5) .dropdown {
  display: none;
  position: absolute;
  top: 64px;
  left: 0px;
  width: 10rem;
  -webkit-animation: upwards 0.3s ease-in;
          animation: upwards 0.3s ease-in;
  z-index: 1;
  background-color: white;
  -webkit-box-shadow: 0 0 5px rgba(214, 215, 216, 0.6);
          box-shadow: 0 0 5px rgba(214, 215, 216, 0.6);
}

.navbar-item:nth-child(5) .dropdown-items, .navbar-item:nth-child(5) .dropdown-item:nth-child(2) .deep-dropdown__items {
  list-style-type: none;
  color: black;
  padding: 0px !important;
}

.navbar-item:nth-child(5) .dropdown-item, .navbar-item:nth-child(5) .dropdown-item:nth-child(2) .deep-dropdown__item {
  margin-left: 0px;
  padding: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.navbar-item:nth-child(5) .dropdown-item:hover, .navbar-item:nth-child(5) .dropdown-item:nth-child(2) .deep-dropdown__item:hover {
  background-color: #CC1616;
  color: white;
}

.navbar-item:nth-child(5) .dropdown-item:nth-child(2) .deep-dropdown {
  display: none;
  position: absolute;
  top: 35px;
  left: 9.8rem;
  width: 10rem;
  -webkit-animation: rightwards 0.3s ease-in;
          animation: rightwards 0.3s ease-in;
  z-index: 1;
  background-color: white;
  -webkit-box-shadow: 0 0 5px rgba(214, 215, 216, 0.6);
          box-shadow: 0 0 5px rgba(214, 215, 216, 0.6);
}

@media screen and (max-width: 1340px) {
  .navbar-item:nth-child(5) .dropdown-item:nth-child(2) .deep-dropdown {
    display: none;
    position: absolute;
    top: 35px;
    left: -9.9rem;
    width: 10rem;
    -webkit-animation: rightwards 0.3s ease-in;
            animation: rightwards 0.3s ease-in;
    z-index: 1;
    background-color: white;
    -webkit-box-shadow: 0 0 5px rgba(214, 215, 216, 0.6);
            box-shadow: 0 0 5px rgba(214, 215, 216, 0.6);
  }
}

.navbar-item:nth-child(5) .dropdown-item:nth-child(2):hover .deep-dropdown, .navbar-item:nth-child(5) .dropdown-item:nth-child(2) .deep-dropdown__item:nth-child(2):hover .deep-dropdown {
  display: block;
}

.navbar-item:nth-child(5):hover .dropdown {
  display: block;
}

.navbar .active {
  background-color: #CC1616;
}

.showcase {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/hero-bg.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-bg.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  width: 100%;
  height: 94.6vh;
  position: relative;
}

.showcase:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
}

.showcase-container {
  position: absolute;
  top: 30%;
  left: 15%;
  color: white;
  -webkit-animation: upwards-showcase 0.6s ease-in;
          animation: upwards-showcase 0.6s ease-in;
}

@media screen and (max-width: 990px) {
  .showcase-container {
    top: 20%;
    left: 0%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.showcase-container h1 {
  font-size: 2.5rem;
}

@media screen and (max-width: 990px) {
  .showcase-container h1 {
    font-size: 2rem;
    text-align: center;
  }
}

.showcase-container p {
  font-size: 1.3rem;
  margin-top: -20px;
}

@media screen and (max-width: 990px) {
  .showcase-container p {
    font-size: 1rem;
    text-align: center;
    margin-top: -15px;
  }
}

.showcase-container button {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.showcase-container button:hover {
  background-color: #CC1616;
  border: 2px solid #CC1616;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 3% 12%;
}

@media screen and (max-width: 1550px) {
  .about {
    padding: 3% 11%;
  }
}

@media screen and (max-width: 1340px) {
  .about {
    padding: 3% 9%;
  }
}

@media screen and (max-width: 1170px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about-text {
  color: #444444;
  opacity: 0;
}

.about-text__list {
  list-style-type: none;
  padding: 0px;
}

.about-text__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 1rem;
}

.about-text__list-item span {
  margin-left: 1rem;
}

.about-text__list-item .circle-red {
  background-color: white;
  border-radius: 50%;
  padding: 0.2rem;
  border: 1px solid #CC1616;
}

.about-text__list-item .circle-red .fa {
  color: #CC1616;
}

@media screen and (max-width: 1170px) {
  .about-text__list {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.about-img {
  height: 25rem;
  width: 35rem;
  margin-left: 1rem;
  opacity: 0;
}

@media screen and (max-width: 1550px) {
  .about-img {
    height: 20rem;
    width: 30rem;
  }
}

@media screen and (max-width: 1170px) {
  .about-img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    height: 80%;
    width: 100%;
  }
}

.about .rightwards {
  -webkit-animation: rightwards 0.6s ease-in;
          animation: rightwards 0.6s ease-in;
  opacity: 1;
}

.about .leftwards {
  -webkit-animation: leftwards 0.6s ease-in;
          animation: leftwards 0.6s ease-in;
  opacity: 1;
}

.why-us {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2rem 12%;
}

@media screen and (max-width: 1550px) {
  .why-us {
    padding: 2rem 11%;
  }
}

@media screen and (max-width: 1340px) {
  .why-us {
    padding: 2rem 9%;
  }
}

@media screen and (max-width: 1170px) {
  .why-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.why-us .card {
  padding: 1rem;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1170px) {
  .why-us .card {
    width: 100%;
  }
}

.why-us .card h1 {
  color: #CC1616;
  font-size: 1.75rem;
}

.why-us .card h2 {
  font-weight: 200;
  font-size: 1.5rem;
  margin-top: -10px;
}

.why-us .card:not(:first-child) {
  margin-left: 1rem;
}

@media screen and (max-width: 1170px) {
  .why-us .card:not(:first-child) {
    margin-left: 0rem;
    margin-top: 1rem;
  }
}

.why-us .card p {
  color: #AAAAAAAA;
  font-size: 1rem;
}

.why-us .card:hover {
  background-color: #CC1616;
}

.why-us .card:hover h1, .why-us .card:hover h2, .why-us .card:hover p {
  color: white;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card-upwards {
  opacity: 1;
  -webkit-animation: upwards 1s ease-in;
          animation: upwards 1s ease-in;
}

.clients {
  opacity: 0;
  padding: 2rem 12%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  background-color: #f2f2f2;
}

@media screen and (max-width: 1550px) {
  .clients {
    padding: 2rem 11%;
  }
}

@media screen and (max-width: 1340px) {
  .clients {
    padding: 2rem 9%;
  }
}

@media screen and (max-width: 1170px) {
  .clients {
    justify-items: center;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 990px) {
  .clients {
    justify-items: center;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }
}

.clients .client-img {
  height: 2rem;
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.clients .client-img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.client-grow {
  opacity: 1;
  -webkit-animation: grow 1s ease-in;
          animation: grow 1s ease-in;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 12%;
}

@media screen and (max-width: 1550px) {
  .services {
    padding: 2rem 11%;
  }
}

@media screen and (max-width: 1340px) {
  .services {
    padding: 2rem 9%;
  }
}

.services-head, .portfolio, .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-head span, .portfolio span, .contact span {
  color: #f8f5f5;
  font-size: 3rem;
}

.services-head h1, .portfolio h1, .contact h1 {
  margin-top: -30px;
  font-size: 2rem;
  font-weight: 700;
}

.services p {
  margin-top: -10px;
  color: #444444;
  text-align: center;
}

.services-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

@media screen and (max-width: 1170px) {
  .services-cards {
    justify-items: center;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 990px) {
  .services-cards {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.services-cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 2rem 1rem;
}

.services-cards .card-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4rem;
  width: 4rem;
  position: relative;
  background-color: #CC1616;
  color: white;
}

.services-cards .card-icon::before {
  content: '';
  position: absolute;
  background-color: #fce5e5;
  -webkit-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s;
  height: 4rem;
  width: 4rem;
  top: -8px;
  right: 6px;
  z-index: -10;
}

.services-cards .card-icon .fa {
  font-size: 1.75rem;
}

.services-cards .card h1 {
  color: #191919;
  font-size: 1.5rem;
}

.services-cards .card p {
  margin-top: -10px;
  color: #444444;
  font-size: 14px;
}

.services-cards .card:hover {
  background-color: #CC1616;
}

.services-cards .card:hover .card-icon, .services-cards .card:hover h1, .services-cards .card:hover p {
  color: white;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.services-cards .card:hover .card-icon {
  background-color: white;
  color: #CC1616;
}

.services-cards .card:hover .card-icon::before {
  display: none;
}

.cta {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(2, 2, 2, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/cta-bg.jpg");
  background-image: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)), url("../img/cta-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  padding: 6% 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1550px) {
  .cta {
    padding: 6% 11%;
  }
}

@media screen and (max-width: 1340px) {
  .cta {
    padding: 6% 9%;
  }
}

.cta h1, .cta p, .cta button {
  color: white;
}

.cta h1 {
  font-size: 1.8rem;
}

.cta p {
  text-align: center;
  margin-top: -10px;
}

.cta button {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.cta button:hover {
  background-color: #CC1616;
  border: 2px solid #CC1616;
}

.portfolio {
  width: 100%;
  padding: 2rem 12%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1550px) {
  .portfolio {
    padding: 2rem 11%;
  }
}

@media screen and (max-width: 1340px) {
  .portfolio {
    padding: 2rem 9%;
  }
}

.portfolio p {
  margin-top: -10px;
  color: #444444;
}

.portfolio-buttons {
  margin-top: 1rem;
}

.portfolio-buttons button {
  background-color: transparent;
  border: none;
  outline: none;
}

.portfolio-buttons button:not(:first-child) {
  margin-left: 1rem;
}

.portfolio-buttons .active {
  color: #CC1616;
}

.portfolio-images {
  margin-top: 2rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
}

.portfolio-images .portfolio-image {
  width: 32.5%;
  position: relative;
}

@media screen and (max-width: 1170px) {
  .portfolio-images .portfolio-image {
    width: 49%;
  }
}

@media screen and (max-width: 790px) {
  .portfolio-images .portfolio-image {
    width: 98%;
  }
}

.portfolio-images .portfolio-image img {
  width: 99%;
  max-height: 30rem;
}

@media screen and (max-width: 790px) {
  .portfolio-images .portfolio-image img {
    max-height: 25rem;
  }
}

.portfolio-images .portfolio-image__info {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  padding: 1rem;
  width: 90%;
  height: 4rem;
  bottom: 30px;
  left: 5%;
  background-color: white;
  z-index: 1;
}

.portfolio-images .portfolio-image__info .info-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-images .portfolio-image__info .info-name h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

.portfolio-images .portfolio-image__info .info-name p {
  font-size: 0.8rem;
}

.portfolio-images .portfolio-image__info .info-icons .fa {
  margin-left: 0.5rem;
  color: #444444;
}

.portfolio-images .portfolio-image__info .info-icons .fa:hover {
  color: #CC1616;
}

.portfolio-images .portfolio-image:hover .portfolio-image__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact {
  width: 100%;
  padding: 2rem 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1550px) {
  .contact {
    padding: 2rem 11%;
  }
}

@media screen and (max-width: 1340px) {
  .contact {
    padding: 2rem 9%;
  }
}

.contact-head {
  text-align: center;
}

.contact p {
  margin-top: -10px;
  color: #444444;
  text-align: center;
}

.contact-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 990px) {
  .contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact-info__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 22%;
  color: #444444;
  -webkit-box-shadow: 0 0 10px rgba(214, 215, 216, 0.6);
          box-shadow: 0 0 10px rgba(214, 215, 216, 0.6);
}

@media screen and (max-width: 990px) {
  .contact-info__detail {
    width: 100%;
    margin-top: 1rem;
  }
}

.contact-info__detail:first-child {
  width: 48%;
}

@media screen and (max-width: 990px) {
  .contact-info__detail:first-child {
    width: 100%;
  }
}

.contact-info__detail h1 {
  margin-top: 0.5rem;
  font-size: 1.25rem;
}

.contact-info__detail p {
  font-size: 14px;
}

.contact-info__detail .fa {
  border-radius: 50%;
  border: 1px dotted #CC1616;
  color: #CC1616;
  padding: 0.5rem 0.8rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.contact-us {
  margin-top: 1.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 990px) {
  .contact-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact-us #googleMap {
  -webkit-box-shadow: 0 0 10px rgba(214, 215, 216, 0.6);
          box-shadow: 0 0 10px rgba(214, 215, 216, 0.6);
  width: 48%;
  height: 320px;
}

@media screen and (max-width: 990px) {
  .contact-us #googleMap {
    width: 100%;
  }
}

.contact-us .contact-form {
  -webkit-box-shadow: 0 0 10px rgba(214, 215, 216, 0.6);
          box-shadow: 0 0 10px rgba(214, 215, 216, 0.6);
  width: 48%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 990px) {
  .contact-us .contact-form {
    width: 100%;
    margin-top: 1rem;
  }
}

.contact-us .contact-form .d-flex-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-us .contact-form .d-flex-row input {
  width: 48%;
  padding: 5px;
}

.contact-us .contact-form input {
  margin-top: 1rem;
  width: 100%;
  height: 2rem;
  padding: 5px;
}

.contact-us .contact-form textarea {
  margin-top: 1rem;
  width: 100%;
  padding: 5px;
}

.contact-us .contact-form button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2rem;
  background-color: #CC1616;
  color: white;
  outline: none;
  border: none;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0C0C0C;
  color: white;
  padding: 1rem 12%;
}

@media screen and (max-width: 1550px) {
  .footer {
    padding: 1rem 11%;
  }
}

@media screen and (max-width: 1340px) {
  .footer {
    padding: 1rem 9%;
  }
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 1px solid #AAAAAAAA;
  padding: 2rem 0;
}

@media screen and (max-width: 990px) {
  .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-nav__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 4px solid #CC1616;
  background-color: #191919;
  padding: 0.5rem 5rem;
  padding-bottom: 1.5rem;
}

.footer-nav__details .phone, .footer-nav__details .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-nav__details .phone h3, .footer-nav__details .email h3 {
  font-size: 14px;
}

.footer-nav__details .phone span, .footer-nav__details .email span {
  font-size: 14px;
  margin-left: 0.2rem;
}

.footer-nav__details .phone {
  margin-top: 20px;
}

.footer-nav__details .email {
  margin-top: -30px;
}

.footer-nav__details .icons .fa {
  border-radius: 50%;
  background-color: #262626;
  padding: 0.5rem;
  font-size: 0.8rem;
}

.footer-nav__details .icons .fa:hover {
  background-color: #CC1616;
}

.footer-nav__details .icons .fa:not(:first-child) {
  margin-left: 0.4rem;
}

.footer-nav__links {
  padding-left: 3rem;
}

@media screen and (max-width: 1340px) {
  .footer-nav__links {
    padding-left: 1.5rem;
  }
}

.footer-nav__links h1 {
  font-size: 1rem;
}

.footer-nav__links ul {
  list-style-type: none;
  padding: 0px;
}

.footer-nav__links ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer-nav__links ul li:not(:first-child) {
  margin-top: 1rem;
}

.footer-nav__links ul li .fa {
  font-size: 0.6rem;
  color: #CC1616;
}

.footer-nav__links ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  margin-left: 0.5rem;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.footer-nav__links ul li a:hover {
  color: #CC1616;
}

.footer-nav__newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 2rem;
}

.footer-nav__newsletter h1 {
  font-size: 1rem;
}

.footer-nav__newsletter p {
  margin-top: -2px;
  margin-bottom: 1.5rem;
}

.footer-nav__newsletter .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-nav__newsletter .subscribe input {
  width: 16vw;
  height: 2rem;
}

@media screen and (max-width: 990px) {
  .footer-nav__newsletter .subscribe input {
    width: 100%;
  }
}

.footer-nav__newsletter .subscribe button {
  height: 2rem;
  background-color: #CC1616;
  color: white;
  outline: none;
  border: none;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
}

.footer-copyright span {
  color: #CC1616;
  margin-top: -5px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #191919;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0.9;
  z-index: 80;
}

#deep-dropdown {
  display: none;
}

#dropdown {
  display: none;
}

.navbar-mobile {
  height: 80vh;
  width: 90%;
  left: 5%;
  background-color: white;
  top: 60px;
  z-index: 100;
  position: fixed;
  display: none;
}

.navbar-mobile button {
  position: absolute;
  top: -35px;
  right: 0px;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.5rem;
  color: #CC1616;
}

.navbar-mobile__items {
  margin-top: 1rem;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-mobile__items .navbar-mobile__item {
  margin-top: 1rem;
  cursor: pointer;
}

.navbar-mobile__items .navbar-mobile__item a {
  color: black;
  text-decoration: none;
}

.navbar-mobile__items .navbar-mobile__item a:hover {
  color: #CC1616;
}

.navbar-mobile__items .navbar-mobile__item:nth-child(5) .dropdown-items, .navbar-mobile__items .navbar-mobile__item:nth-child(5) .navbar-item:nth-child(5) .dropdown-item:nth-child(2) .deep-dropdown__items, .navbar-item:nth-child(5) .dropdown-item:nth-child(2) .navbar-mobile__items .navbar-mobile__item:nth-child(5) .deep-dropdown__items {
  margin-top: 1rem;
  list-style-type: none;
}

.navbar-mobile__items .navbar-mobile__item:nth-child(5) .dropdown-items .dropdown-item, .navbar-mobile__items .navbar-mobile__item:nth-child(5) .navbar-item:nth-child(5) .dropdown-item:nth-child(2) .deep-dropdown__items .dropdown-item, .navbar-item:nth-child(5) .dropdown-item:nth-child(2) .navbar-mobile__items .navbar-mobile__item:nth-child(5) .deep-dropdown__items .dropdown-item, .navbar-mobile__items .navbar-mobile__item:nth-child(5) .dropdown-items .navbar-item:nth-child(5) .dropdown-item:nth-child(2) .deep-dropdown__item, .navbar-item:nth-child(5) .dropdown-item:nth-child(2) .navbar-mobile__items .navbar-mobile__item:nth-child(5) .dropdown-items .deep-dropdown__item, .navbar-mobile__items .navbar-mobile__item:nth-child(5) .navbar-item:nth-child(5) .dropdown-item:nth-child(2) .deep-dropdown__items .deep-dropdown__item, .navbar-item:nth-child(5) .dropdown-item:nth-child(2) .navbar-mobile__items .navbar-mobile__item:nth-child(5) .deep-dropdown__items .deep-dropdown__item {
  margin-top: 1rem;
  cursor: pointer;
}

.navbar-mobile__items .navbar-mobile__item:nth-child(5) .dropdown-items .dropdown-item:nth-child(2) .deep-dropdown__items, .navbar-mobile__items .navbar-mobile__item:nth-child(5) .navbar-item:nth-child(5) .dropdown-item:nth-child(2) .deep-dropdown__items .dropdown-item:nth-child(2) .deep-dropdown__items, .navbar-item:nth-child(5) .dropdown-item:nth-child(2) .navbar-mobile__items .navbar-mobile__item:nth-child(5) .deep-dropdown__items .dropdown-item:nth-child(2) .deep-dropdown__items, .navbar-item:nth-child(5) .dropdown-item:nth-child(2) .navbar-mobile__items .navbar-mobile__item:nth-child(5) .dropdown-items .deep-dropdown__item:nth-child(2) .deep-dropdown__items, .navbar-mobile__items .navbar-mobile__item:nth-child(5) .navbar-item:nth-child(5) .dropdown-item:nth-child(2) .deep-dropdown__items .deep-dropdown__item:nth-child(2) .deep-dropdown__items, .navbar-item:nth-child(5) .dropdown-item:nth-child(2) .navbar-mobile__items .navbar-mobile__item:nth-child(5) .deep-dropdown__items .deep-dropdown__item:nth-child(2) .deep-dropdown__items {
  margin-top: 1rem;
  list-style-type: none;
}

.navbar-mobile__items .navbar-mobile__item:nth-child(5) .dropdown-items .dropdown-item:nth-child(2) .deep-dropdown__items .deep-dropdown__item, .navbar-mobile__items .navbar-mobile__item:nth-child(5) .navbar-item:nth-child(5) .dropdown-item:nth-child(2) .deep-dropdown__items .dropdown-item:nth-child(2) .deep-dropdown__items .deep-dropdown__item, .navbar-item:nth-child(5) .dropdown-item:nth-child(2) .navbar-mobile__items .navbar-mobile__item:nth-child(5) .deep-dropdown__items .dropdown-item:nth-child(2) .deep-dropdown__items .deep-dropdown__item, .navbar-item:nth-child(5) .dropdown-item:nth-child(2) .navbar-mobile__items .navbar-mobile__item:nth-child(5) .dropdown-items .deep-dropdown__item:nth-child(2) .deep-dropdown__items .deep-dropdown__item, .navbar-mobile__items .navbar-mobile__item:nth-child(5) .navbar-item:nth-child(5) .dropdown-item:nth-child(2) .deep-dropdown__items .deep-dropdown__item:nth-child(2) .deep-dropdown__items .deep-dropdown__item, .navbar-item:nth-child(5) .dropdown-item:nth-child(2) .navbar-mobile__items .navbar-mobile__item:nth-child(5) .deep-dropdown__items .deep-dropdown__item:nth-child(2) .deep-dropdown__items .deep-dropdown__item {
  margin-top: 1rem;
  cursor: pointer;
}

@-webkit-keyframes upwards {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes upwards {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes upwards-showcase {
  0% {
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes upwards-showcase {
  0% {
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes rightwards {
  0% {
    -webkit-transform: translateX(-24px);
            transform: translateX(-24px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(-12px);
            transform: translateX(-12px);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes rightwards {
  0% {
    -webkit-transform: translateX(-24px);
            transform: translateX(-24px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(-12px);
            transform: translateX(-12px);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes leftwards {
  0% {
    -webkit-transform: translateX(24px);
            transform: translateX(24px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(12px);
            transform: translateX(12px);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes leftwards {
  0% {
    -webkit-transform: translateX(24px);
            transform: translateX(24px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(12px);
            transform: translateX(12px);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes grow {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=styles.css.map */